<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Page</title>
</head>
<body>
  <form class="" action="/" method="post">

    <label for="full_name"><b>Full Name</b></label>
    <input type="text" name="full_name" placeholder="Enter Full Name">

    <label for="full_name"><b>Email</b></label>
    <input type="text" name="email" placeholder="Enter Email">

    <label for="password"><b>Password</b></label>
    <input type="text" name="password" placeholder="Enter Password">

    <button type="submit" name="button">Register</button>
  </form>
</body>
</html>
