<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Page</title>
</head>
<body>

  <%- include("./partials/generalHeader") %>
  <form class="" action="/register" method="post">

    <label for="full_name"><b>Full Name</b></label>
    <input type="text" name="full_name" placeholder="Enter Full Name">

    <label for="email"><b>Email</b></label>
    <input type="text" name="email" placeholder="Enter Email">

    <label><b>Role</b></label>
    <select name="role">
      <option value="Ansor">Ansor</option>
      <option value="Jamaah">Jamaah</option>
    </select>

    <label for="password"><b>Password</b></label>
    <input type="text" name="password" placeholder="Enter Password">


    <button type="submit" name="button">Register</button>
  </form>

  <h2><%= error_message %></h2>
</body>
</html>
