<!DOCTYPE html>
<html>
<body>

<h2>Send e-mail to someone@example.com:</h2>

<form action="/send-email" method="post">
Name:<br>
<input type="text" name="name"><br>
E-mail to:<br>
<input type="text" name="to"><br>
<label for="subject">Subject:</label>
<input type="text" class="form-control" name="subject">
Comment:<br>
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>
